<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://nj01ct01.baidupcs.com/file/ac8e8ab68c0ea0c4e610f8863ee25f2b?bkt=p3-0000af8c9e9bb7ad7890d528c770564fc4d7&fid=187961943-250528-609224781091579&time=1520819205&sign=FDTAXGERLQBHSKa-DCb740ccc5511e5e8fedcff06b081203-v5Y5G0hwHO%2B8Z5ltjVkPwx8jEbc%3D&to=63&size=13841210&sta_dx=13841210&sta_cs=0&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH%2CYangquan%2CAnywhere%2C%2Czhejiang%2Cct&vuk=187961943&iv=0&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=0000af8c9e9bb7ad7890d528c770564fc4d7&sl=79364174&expires=8h&rt=pr&r=593386576&mlogid=1632947933450657884&vbdid=1059330347&fin=H5566E93E_0209174433.ipa&fn=H5566E93E_0209174433.ipa&rtype=1&dp-logid=1632947933450657884&dp-callid=0.1.1&hps=1&tsl=100&csl=100&csign=HLkGe0rHaPgKcj6k%2FyK2LnAakjw%3D&so=0&ut=6&uter=4&serv=0&uc=3866051599&ic=486131892&ti=88dc3fa6cf7af06443b752fa77bdf9e1e62aadfd2c325a0c&by=themis</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string></string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string></string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.tengzhicn.xmglxt</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>腾智项目管理系统</string>
                <key>title</key>
                <string>腾智协同平台</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
